<div class="user-posts">
  <% @user.posts.each do |post| %>
    <div class="post-content">
      <%= post.content %>
      <div class="post-comments">
        <% post.comments.each do |comment| %>
          <div class="comment">
            <%= comment.content %> <!-- Suponiendo que 'content' es el contenido del comentario -->
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
