<h1>Users</h1>

<%= link_to 'Create New User', new_user_registration_path, class: 'button new-user-button' %>

<ul class="users-list">
  <% @users.each do |user| %>
    <li id="user_<%= user.id %>" class="user-container">
      <div class="user-info">
        <h2 class="user-name"><%= link_to user.name, user_path(user) %></h2>
        <p class="post-count">Number of posts: <%= user.posts.size %></p>
      </div>
    </li>
  <% end %>
</ul>
