<h1>Users</h1>

<%= link_to 'Create New User', new_user_path, class: 'button new-user-button' %>

<ul class="users-list">
  <% @users.each do |user| %>
    <div class="list">
      <div class="user-image">
        <!-- Asegúrate de que 'default_user_image.jpg' sea el nombre correcto y esté en app/assets/images -->
        <img src="/images/path_to_default_user_image.jpg" alt="User Image">
      </div>
      <li class="user-container">
        <div class="user-info">
          <h2 class="user-name"><%= link_to user.name, user_path(user) %></h2>
          <p class="post-count">Number of posts: <%= user.posts.size %></p>
        </div>
      </li>
    </div>
  <% end %>
</ul>
